<component name="ArtifactManager">
  <artifact type="war" name="mybatisforeach:war">
    <output-path>$PROJECT_DIR$/mybatisforeach/target</output-path>
    <root id="archive" name="mybatis.foreach-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatisforeach:war exploded" />
    </root>
  </artifact>
</component>